N8N eenadu social media post automation.json
{
  "name": "N8N eenadu social media post automation",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.eenadu.net/latest-news-list",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -384,
        -96
      ],
      "id": "f8bc37e4-5f62-4eee-98d2-e4b562969c30",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data;\n\nlet news = [];\n\n// split each news block\nconst items = html.split('<aside class=\"two-col-left-by-two');\n\nfor (let i = 1; i < Math.min(items.length, 6); i++) {\n\n    const block = items[i];\n\n    // TITLE\n    const titleMatch = block.match(/<h3.*?>(.*?)<\\/h3>/);\n    const title = titleMatch ? titleMatch[1].replace(/&.*?;/g, '').trim() : \"\";\n\n    // LINK\n    const linkMatch = block.match(/<a href=\"(.*?)\"/);\n    const link = linkMatch ? linkMatch[1] : \"\";\n\n    // TIME\n    const timeMatch = block.match(/\\[(\\d{2}:\\d{2})\\]/);\n    const time = timeMatch ? timeMatch[1] : \"\";\n\n    // SUMMARY\n    const summaryMatch = block.match(/<br>\\s*([\\s\\S]*?)<\\/div>/);\n    const summary = summaryMatch ? summaryMatch[1].replace(/&.*?;/g, '').trim() : \"\";\n\n    if (title && link) {\n        news.push({\n            title,\n            summary,\n            time,\n            url: link\n        });\n    }\n}\n\nreturn news.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -96
      ],
      "id": "1bad51f1-7ddb-4e6f-99ab-c3bd59c11896",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a social media content creator.\n\nConvert the following TELUGU news into TELUGU :\n\n1. LinkedIn post\n2. Twitter post\n3. Facebook post\n\nNews:\nTitle: {{$json.title}}\nSummary: {{$json.summary}}\nTime: {{$json.time}}\nSource: {{$json.url}}",
        "options": {
          "systemMessage": "You are an AI social media content creator.\n\nConvert the given news article into platform-specific posts.\n\nIMPORTANT RULES:\n- Output MUST be valid JSON\n- Do NOT add any extra text before or after JSON\n- Do NOT add explanations\n- Do NOT add headings like \"LinkedIn Post\"\n- Ensure JSON is properly formatted (no trailing commas)\n\nSTRICT OUTPUT FORMAT:\n\n{\n  \"linkedin\": \"...\",\n  \"twitter\": \"...\",\n  \"facebook\": \"...\",\n  \"whatsapp\": \"...\",\n  \"telegram\": \"...\"\n}\n\nCONTENT RULES:\n\nLinkedIn:\n- Professional tone\n- 120–150 words\n- No emojis\n\nTwitter:\n- Short and catchy (max 2–3 lines)\n- Use 1–2 emojis\n- Include 3–5 relevant hashtags\n\nFacebook:\n- Engaging and friendly\n- Moderate emojis (2–4)\n- Easy to read\n\nWhatsApp:\n- Very short summary (2–3 lines)\n- Simple and clear\n- Add 1 emoji max\n\nTelegram:\n- Slightly detailed summary\n- Clean formatting\n- Can include 1–2 emojis\n\nGENERAL RULES:\n- Keep content fact-based (no hallucination)\n- Do NOT repeat same text across platforms\n- Always include source URL at the end of EACH post\n- Keep language clear and readable\nAlways include source URL at end of each post."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        32,
        -96
      ],
      "id": "93a63ce3-f919-4558-9fe9-d4f12f61a140",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let raw = item.json.output;\n\n  // 🔥 Remove ```json and ```\n  raw = raw.replace(/```json|```/g, '').trim();\n\n  let data;\n  try {\n    data = JSON.parse(raw);\n  } catch (e) {\n    throw new Error(\"Invalid JSON after cleaning\");\n  }\n\n  // Handle twitter (array or string)\n  const twitterContent = Array.isArray(data.twitter)\n    ? data.twitter.join(\"\\n\")\n    : data.twitter;\n\n  return [\n    { json: { platform: \"linkedin\", content: data.linkedin } },\n    { json: { platform: \"twitter\", content: twitterContent } },\n    { json: { platform: \"facebook\", content: data.facebook } },\n    { json: { platform: \"whatsapp\", content: data.whatsapp } },\n    { json: { platform: \"telegram\", content: data.telegram } }\n  ];\n}).flat();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -96
      ],
      "id": "3605326e-4636-4074-8efc-df7625764a10",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "linkedin",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ab8bb7fc-fc64-42a5-94d7-5992560053fa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "linkedin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0e9480e3-431c-4c08-ae06-d925104fe856",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "twitter",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "twitter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fb9d5bf0-3f23-4d9b-8ef9-7f51f0e6d4de",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0f5310c0-df18-4054-ba50-6eeea32ce0bc",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "telegram"
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        528,
        -96
      ],
      "id": "df851860-6aee-4c9b-ba2c-404be5990eb7",
      "name": "Switch1"
    },
    {
      "parameters": {
        "text": "={{ $json.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        832,
        -336
      ],
      "id": "4c941513-1c70-4e6d-bfa0-741c5297b5bc",
      "name": "Create a post1"
    },
    {
      "parameters": {
        "text": "={{ $json.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        832,
        -160
      ],
      "id": "bc215f02-ef8a-4706-9737-62115a83f90d",
      "name": "Create Tweet1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -608,
        -96
      ],
      "id": "c8d846c2-aa75-4c9a-8781-e9e61fd1d529",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "send",
        "textBody": "={{ $json.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        832,
        16
      ],
      "id": "eebd1507-8f6d-48f5-8fc6-cec4b283d4b8",
      "name": "Send message",
      "webhookId": "3a7c4fc6-e849-4734-b8bd-6e2ba7892038"
    },
    {
      "parameters": {
        "chatId": "1410470969",
        "text": "={{ $json.content }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        208
      ],
      "id": "13b1cb2d-3401-4889-8139-57342206eb43",
      "name": "Send a text message",
      "webhookId": "da0d8349-7aae-4fa5-b0ed-043d4bb13dba",
      "credentials": {
        "telegramApi": {
          "id": "pep92mYJ3CcHeavR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        32,
        96
      ],
      "id": "b0d5ad59-7610-4228-858f-f6bc6b05e20f",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "TcqovDzmg1SKKu6z",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Create a post1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Tweet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post1": {
      "main": [
        []
      ]
    },
    "Create Tweet1": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "329c0a80-6577-4e13-ae2b-1861ec8f40bf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97439d28d8f1ee17875b95dcc0638130046b7d6ce7c94eb72fa162780dfc4cb1"
  },
  "id": "j8FBuzPhjRyW6vID",
  "tags": []
}